# Environnement virtuel Python
backend/venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
build/
*.egg

# Django
*.sqlite3
backend/staticfiles/
backend/media/

# Node
node_modules/
frontend/dist/

# Variables d'environnement
.env
backend/.env
frontend/.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Fichiers temporaires
*.log
*.tmp
.vercel
